@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&display=swap');

*{
  margin: 0;
  padding: 0;
  border: none;
  text-decoration: none;
  box-sizing: border-box;
}

html{
  /*Colors*/
  --cor1: #ffcc29;
  --cor2: #1d539e;
  --cor3: #828799;
  --cor4: #f9fbfc;


  /*Reset default font size*/
  font-size: 62.5%; /*10px*/
}

body{
  font-family: 'Open Sans', sans-serif;
}

body ::before{
  content: '';
  background-color: var(--cor2);
  width: 100vw;
  height: 50vh;

  display: block;

  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

header{
  color: white;
  text-align: center;
}

header h1{
  font-size: 4.5rem;
  font-weight: 700;

  margin-top: 6rem;
}

header p{
  font-size: 1.6rem;
  margin-top: 1rem;
}

main{
  display: flex;
  align-items: center;
  justify-content: center;  
}

.container{
  background-color: white;

  border: 2px solid var(--cor3);
  border-radius: 1rem;

  margin-top: 4rem;
  margin-right: 2rem;

  width: 30rem;
  height: 45rem;
}

.container p, h2, button{
  padding-left: 1rem;
}

.container h2{
  padding: 1.5rem 1rem;
  font-size: 3rem;
}

.container p{
  padding: 1rem 1rem;
}

.container button{
  width: 28rem;

  margin: 1.5rem auto;
}

.topo{
  background-color: var(--cor1);
  padding: 1.5rem 0 1.5rem 1rem;
  
  border-radius: 1rem 1rem 0rem 0rem;

  font-weight: 400;
}

