@charset "UTF-8";

body{
  font-family: Arial, Helvetica, sans-serif;
}
table{
  width: 400px;
  border-collapse: collapse;
}
td{
  border: 1px solid black;
  padding: 8px;
}
tr.impar{
  background-color: lightgray;
}
td.destaque{
  background-color: brown;
}
#tab02{
  width: 400px;
  border-collapse: collapse;
  height: 400px;
}
#tab02 td{
  text-align: center;
  vertical-align: top;
}