.departments {
  background-color: var(--color2);
  width: 100%;
  padding: 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
}

.departments h2 {
  color: #fff;
  text-align: center;
  margin: 20px 0;
  font-size: 20px;
}

.department {
  height: 200px;
  width: 180px;
  background-color: var(--color3);
  margin: 10px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

#games-dep {
  background-image: url('../../assets/images/dep-games.png');

}

#eletronic-dep {
  background-image: url('../../assets/images/dep-games.png');
}