@charset "UTF-8";

body{
  font-family: Arial, Helvetica, sans-serif;
}
table{
  width: 600px;
  border-collapse: collapse;
}
td{
  border: 1px solid black;
  text-align: center;
  padding: 10px;
}
th{
  border: 1px solid black;
  text-align: center;
  padding: 10px;
  background-color: grey;
}
.disc{
  text-align: left;
}
.cienc{
  background-color: white;
}
.cor{
  color: white;
}