@charset "UTF-8";

body{
  font-family: Arial, Helvetica, sans-serif;
  background-color: aquamarine;
}
h1{
  text-align: center;
}
div{
  display: inline-block;
  border: 2px solid black;
  width: 200px;
  position: sticky;
}
.botao{
  padding: 15px;
  text-align: center;
  border-radius: 25px;
  font-weight: bolder;
  color: white; 
}
#botao1{
  background-color: brown;
  }
#botao2{
  background-color: darkcyan;
}
#botao3{
  background-color: darkolivegreen;
}
a{
  text-decoration: none;
}