@charset "UTF-8";

body{
  font-family: Arial, Helvetica, sans-serif;
  background-color: aquamarine;
}
h1{
  text-align: center;
}
button{
  background-color: darkcyan;
  color: white;
  padding: 15px;
  margin: auto;
  font-weight: bolder;
}
button a{
  text-decoration: none;
}
button a:hover{
  color: aquamarine;
}