@charset "UTF-8";

*{
  font-family: Arial, Helvetica, sans-serif;
}
body{
  background-color: #9AD9C7;
}
header{
  background-color: #63AEBF;
  margin: 5px auto;
  text-align: center;
  border-radius: 10px;
  height: 150px;
}
header > p{
  text-align: center;  
}
nav{
  background-color: #A66C4B;
  padding: 10px;
  text-align: left;
  border-radius: 10px
}
nav > a{
  text-decoration: none;
  padding: 0px 15px;
  font-size: 20px;
  color: #ffffff;
  margin: 3px;
}
a:hover{
  color: #9AD9C7;
}
main{
  background-color: #ffffff;
  border-radius: 5px
}
main > img{
  
}
footer{
  background-color: #592D14;
  padding: 7px;
  border-radius: 10px    
}
footer > p{
  text-align: center;
  color: white;  
}
h1{
  font-size: 2.5em;
}
h2{
  font-family: 'fontes/IDroid.otf';
}
p{
  text-align: justify;
  padding: 3px;
}