@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Sacramento&display=swap');
@font-face {
  font-family: 'android';
  src: url('../fontes/idroid.otf') format('opentype');
  font-weight: normal;
}

:root{
  --cor1: #63AEBF;
  --cor2: #9AD9C7;
  --cor3: #F2EDE4;
  --cor4: #592D14;
  --cor5: #A66C4B;

  --fontpadrao: Arial, Helvetica, sans-serif;
  --fontdestaque: 'Bebas Neue', cursive;
  --fontandroid: 'android', cursive;
}
*{
  margin: 0px;
  padding: 0px;
}
body{
  background-color: var(--cor2);
  font-family: var(--fontpadrao);
}
header{
  background-color: #63AEBF;
  margin: 5px auto;
  text-align: center;
  border-radius: 10px;
  height: 150px;
}
header > h1{
  font-family: var(--fontdestaque);
  font-size: 4em;
    color: var(--cor3);
}
header > p{
  text-align: center;
  color: var(--cor3);
  font-weight: bold;
  margin: 0px;
}
nav{
  background-color: #A66C4B;
  padding: 10px;
  text-align: left;
  border-radius: 10px
}
nav > a{
  text-decoration: none;
  padding: 0px 15px;
  font-size: 20px;
  color: #ffffff;  
}
a:hover{
  color: #9AD9C7;
}
main{
  background-color: #ffffff;
  border-radius: 5px
}
main > h1{
  font-family: var(--fontandroid);
}
footer{
  background-color: #592D14;
  padding: 7px;
  border-radius: 10px    
}
footer > p{
  text-align: center;
  color: white;  
}  
h2{
  font-family: 'fontes/IDroid.otf';
}
p{
  text-align: justify;
  padding: 3px;
}