@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Sacramento&display=swap');
@font-face {
  font-family: 'android';
  src: url('../fontes/idroid.otf') format('opentype');
  font-weight: normal;
}

:root{
  --cor1: #63AEBF;
  --cor2: #9AD9C7;
  --cor3: #F2EDE4;
  --cor4: #592D14;
  --cor5: #A66C4B;

  --fontpadrao: Arial, Helvetica, sans-serif;
  --fontdestaque: 'Bebas Neue', cursive;
  --fontandroid: 'android', cursive;
}
*{
  margin: 0px;
  padding: 0px;
}
body{
  background-color: var(--cor2);
  font-family: var(--fontpadrao);
}
header{
  background-image: linear-gradient(135deg, var(--cor1), var(--cor4));
  margin: 5px auto;
  text-align: center;
  border-radius: 10px;
  min-height: 150px;
  padding-top: 40px;
}
header > h1{
  font-family: var(--fontdestaque);
  font-size: 4em;
  color: var(--cor3);
  margin-bottom: 20px;
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.87);
}
header > p{
  font-family: var(--fontpadrao);
  text-align: center;
  color: var(--cor3);
  font-size: 1.5em;
  padding: auto 10px;
  margin: auto;
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.87);
}
nav{
  background-color: #A66C4B;
  padding: 10px;  
  border-radius: 10px;  
  font-weight: bold;
}
nav a{
  text-decoration: none;
  padding: 0px 15px;
  font-size: 20px;
  color: #ffffff;  
}
nav a:hover{
  color: #9AD9C7;
}
main{
  background-color: #ffffff;
  border-radius: 5px;
  max-width: 1000px;
  min-width: 300px;
  margin: 10px auto;
  padding: 20px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.623);
}
main h1{
  font-family: var(--fontandroid);
  color: var(--cor1);
}
main h2{
  font-family: var(--fontandroid);
  color: var(--cor4);
  background-image: linear-gradient(90deg, var(--cor2), transparent);
}
main p{
  margin: 15px 0px;
  text-align: justify;
  line-height: 1.5em;
}
main strong{
  color: blue;
}
main a{
  text-decoration: none;
  font-weight: bolder;
  color: var(--cor4);
}
main a:hover{
  text-decoration: underline;
  color: var(--cor2);
}
main img{
  width: 100%;
}
main img.pequena{
  max-width: 350px;
  display: block;
  margin: auto;  
}
aside{
  background-color: var(--cor1);
  border-radius: 10px;
  padding: 10px;
}
footer{
  background-color: #592D14;
  padding: 7px;
  border-radius: 10px    
}
footer p{
  text-align: center;
  color: white;  
}
footer a{
  color: white  
}
footer a:hover{
  color: var(--cor1);
}
h2{
  font-family: 'fontes/IDroid.otf';
}