body {
  background-color: #303030;
  color: white;
}

.hide {
  display: none;
}

a, input[type="submit"] {
  background-color: #007BFF;
  color: white;
  padding: 10px 20px;
  border-radius: 5px;
  text-decoration: none;
  opacity: .7;
  font-size: 1em;
  cursor: pointer;
}

a:hover, input[type="submit"]:hover {
  opacity: 1;
}