#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

:root {
  --color1: #7C05F2;
  --color2: #0583F2;
  --color3: #0597F2;
  --color4: #05F240;
  --color5: #F2B705;
}
