body {
  position: relative;
}

.menu {
  position: absolute;
  top: 2rem;
  left: 2rem;
}

ul{
  display: flex;
  gap: 30px;
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
  font-size: 2rem;
}