:root{
  --cor1: #add8e6;
  --cor2: #ffb6c1;
  --cor3: #008b8b;
}

*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  outline: 0;  
}

html{
  font-size: 62.5%;
}

body{
  background-color: var(--cor1);
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.6rem;
}

.container{
  max-width: 64rem;
  margin:  6rem auto;
  background-color: #ffb6c1;
  padding: 2rem;

  border: 2px solid darkcyan;
  border-radius: 2rem;
}

.container h1{
  margin-bottom: 2rem;
}

.container p{
  margin-bottom: 2rem;
}

form input, form label, form button{
  display: block;
  width: 100%;
  margin-bottom: 1rem;
}

form input{
  font-size: 2.4rem;
  height: 5rem;
  padding: 0 2rem;
}

form input:focus{
  outline: 2px solid var(--cor1);
}

form button{
  border: 0;
  border-radius: 1rem;
  background-color: #008b8b;
  color: white;
  font-size: 1.8rem;
  font-weight: 700;
  cursor: pointer;
  padding: .5rem;
  margin-top: 3rem;
}

form button:hover{
  opacity: 75%;
}

.resultado, .bad{
  background-color: var(--cor1);
  width: 100%;
  height: 4rem;
  padding: 0.5rem;
  border: 0.1rem solid var(--cor3);
  border-radius: 0.5rem;

  font-size: 2.4rem;
}

.bad{
  background-color: crimson;
}