@charset "UTF-8";

*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
:root{
  --color1: #D99A9A;
  --color2: #F2F5E4;
  --color3: #2FCFE0;
  --color4: #025E73;
  --color5: #F8AB24;  
}
img{
  width: 100%;
  height: auto;
}
a{
  text-decoration: none;
}
nav{
  height: 4.5rem;
  display: flex; /*coloca os itens lado a lado*/
  justify-content: space-between; /*separa os conteudos para o estremo de cada lado*/
  align-items: center;
}
#header{
  border-bottom: 1px solid var(--color1);
}
.logo{
  font: 700 1.875rem 'Poppins', sans-serif;
  color: black;
}
.logo span{
  color: var(--color3);
}
body{
  font: 400 1em 'DM Sans', sans-serif;
}
h1{
  font: 700 1.875rem 'Poppins', sans-serif;
  color: var(--color4);
}
.container{
  width: 100%;
  margin: 0 1.5rem;
}
.grid{
  display: grid;
  gap: 2rem;
}
section{
  padding: 5rem 0;
}
/*----------------home------------*/
#home .container{
  margin: 0;
}
#home .image{
  position: relative;
}
#home .image ::before{
  content: '';
  height: 100%;
  width: 100%;
  background: var(--color3);
  position: absolute;
  top: -16.8%;
  left: 16.8%;
  z-index: 0;
  border-radius: 0,25rem;
}
#home .image img{
  position: relative;
  right: 2.93rem;
  border-radius: 0,25rem;
}
#home .text{
  margin: 0 1.5rem;
}