.cart-container {
  background-color: var(--color1);
  height: auto;
  width: auto;
  position: absolute;
  right: 300px;
  top: 50px;
  padding: 10px;
  z-index: 100;
  border: none;
  border-radius: 5px;
}

.cart-container li {
  list-style-type: none;
  cursor: pointer;
  margin: 10px 0;
  background-color: var(--color3);
  display: flex;
  padding: 10px;
}

.cart-container h2 {
  font-size: 14px;
}

.cart-container p {
  font-size: 12px;
}

.cart-container img {
  height: 40px;
  width: 40px;
  margin-right: 10px;
}