/*Reset*/
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  font-family: 'Quicksand', sans-serif;
}

/*Default*/
html{
  font-size: 62.5%;
}

/*video apartir de 08:00 minutos*/