.nav {
  height: 10%;
  width: 100vw;
  background-color: var(--color4);
}

.menu {
  display: flex;
}

.menu li {
  list-style-type: none;
  margin-right: 30px;
  padding: 5px 10px;
  cursor: pointer;
  border: 2px solid var(--color4);
}

.menu li:hover {
  color: var(--color2);
  border: 2px solid var(--color5);
}