.banner-container {
  background: url('../../assets/images/banner_prov.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-color: #222;
  width: 100%;
  height: 400px;
  display: flex;
  align-items: center;
  justify-content: center;
}