@charset "UTF-8";

/*================= Reset =================*/
*{
  margin: 0;
  padding: 0;
  border: none;
  text-decoration: none;
  box-sizing: border-box;
}

/*================= Default =================*/
html{
  /*Colors*/
  --cor1: #222E73;
  --cor2: #264773;
  --cor3: #D99F59;
  --cor4: #592B02;
  --cor5: #0D0D0D;
  --cor6: #f5f5dc;

  /*Fonts*/
  --font1: font-family: 'DM Sans', sans-serif;  

  /*Reset default font size*/
  font-size: 62.5%; /*10px*/
}

html, body{
  width: 100%;
  height: 100%;
}

body{
  font-family: var(--font1);
  font-size: 1.6rem;
  text-align: center;
  
  overflow: overlay;
}

.wrapper{
  width: 100%;
  margin-inline: auto;
  padding-inline: 2.4rem;
}

ul{
  list-style: none;
}

/*---------------- Header -------------------------*/
header{ 
  margin-top: calc(4.1rem + 7.2rem);

  /*background-color: var(--cor2);*/
}

header h1{
  color: var(--cor5);

  font-size: 3.4rem;  
  line-height: 130%;

  margin-bottom: 2.4rem;
}

header h4{
  font-size: 1.4rem;
  color: #592B02;

  margin-bottom: 1.6rem;
}

header p{
  font-size: 1.8rem;
  line-height: 150%;

  margin: 0 auto 3.2rem 0;
}

header button{
  background-color: var(--cor2);

  border: none;
  border-radius: 2rem;

  height: 6.2rem;
  width: 26.3rem;

  color: white;  
  font-size: 1.4rem;
  font-weight: 700;
  text-transform: uppercase;

  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1.6rem; /*espaço entre os elementos*/

  margin: 0 auto 6rem auto;
}

button:hover{
  opacity: 70%;
}

header::before{
  content: ""; /*conteudo vazio*/

  width: 100%;
  height: 112.2rem;
  background-color: var(--cor6);
  display: block;

  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

#casa{
  width: 95%;
  height: auto;
  margin: 0 auto 6rem auto;
}

/* ------------------------ Stats -------------------- */
.stats{
  background-color: var(--cor3);
  border: 2px solid var(--cor4);
  border-radius: 0.6rem;

  width: 32.7rem;

  padding-block: 4rem;

  margin-inline: auto; /*marge em linha direita e esquerda*/

  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 6rem; /*separação entre os elementos*/
}

.stat h3 {
  font-size: 4.8rem;
  color: var(--cor5);
  line-height: 130%;

  margin-bottom: 0.4rem;
}

.stat p{
  margin: 0;
  
  color: var(--cor2);
}

/* ================== Navigation ===================== */

nav{
  display: flex;

  height: 7.2rem;

  /* padding: 1.6rem 2.4rem; */

  position: fixed;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
}

nav .wrapper{
  display: flex;
  align-items: center;
  justify-content: space-between;

  height: 7.2rem;
  width: 100vw;
}

nav h1{
  color: white;
  font-size: 3rem;
}

nav .logotipo{
  color: var(--cor3);
}

nav .icon-menu3{
  text-decoration: none;
  color: white;
  font-size: 2.5rem;
}

nav.scroll{
  background-color: var(--cor4);
}

nav.fix{
  background-color: var(--cor2);
}

nav button{
  background: none;
  cursor: pointer;
}

/*================= Menu Expanded =================*/
body.menu-expanded{
  overflow: hidden;
}

body.menu-expanded > :not(nav){
  display: none;
}

.menu, 
.close-menu,
body.menu-expanded .open-menu{
  opacity: 0;
  visibility: hidden;
}

body.menu-expanded .menu,
body.menu-expanded .close-menu{
  opacity: 1;
  visibility: visible;
}


body.menu-expanded .menu{
  position: fixed;
  top: 0;
  left: 0;

  background-color: var(--cor2);

  width: 100vw;
  height: 100vh;

  padding-top: 7.2rem;
}

.social-links{
  display: flex;
  align-items: center;
  gap: 3.2rem;
  justify-content: center;
}

.menu ul:nth-child(1){
  display: flex;
  flex-direction: column;
  gap: 4.8rem;

  margin-top: 6rem;

  font-weight: 700;
  font-size: 2.4rem;
  line-height: 3.1rem;
}

.menu ul li a{
  color: white;
}

.menu .button{
  background-color: white;
  border-radius: 2rem;

  font-weight: 700;
  font-size: 1.8rem;
  line-height: 2.3rem;
  text-transform: uppercase;
  color: var(--cor2);

  display: inline-block;
  padding: 1.6rem 3.2rem;

  margin: 4.8rem 0;
}

.menu .button:hover{
  background-color: var(--cor3);
}

.social-links i{
  color: white;
  font-size: 2.5rem;  
}

.social-links i:hover{
  font-size: 3rem;
  color: var(--cor3);
}

body.menu-expanded .logo,
body.menu-expanded nav button{
  position: relative;
  z-index: 100;
}

.close-menu p{
  font-size: 2.5rem;
  font-weight: 700;
  color: white;
}

/*================= Serviços =================*/

.services h2{
    color: var(--cor5);
  
    font-size: 3.4rem;  
    line-height: 130%;
  
    margin-bottom: 2.4rem;
}

.video {
  background-color: var(--cor3);
  margin: 0px -10px 30px -10px;
  padding: 1.5rem 1rem 1rem 1rem;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.342);
  border-radius: 10px;
}

iframe{

}