@charset "UTF-8";

/*================= Reset =================*/
*{
  margin: 0;
  padding: 0;
  border: none;
  text-decoration: none;
  box-sizing: border-box;
}

/*================= Default =================*/
html{
  /*Colors*/
  --cor1: #222E73;
  --cor2: #264773;
  --cor3: #D99F59;
  --cor4: #592B02;
  --cor5: #0D0D0D;
  --cor6: #f5f5dc;

  /*Fonts*/
  --font1: font-family: 'DM Sans', sans-serif;  

  /*Reset default font size*/
  font-size: 62.5%; /*10px*/
}

body{
  font-family: var(--font1);
  font-size: 1.6rem;
  text-align: center;
}

.wrapper{
  width: 100vw;
  margin-inline: auto;
  padding-inline: 2.4rem;
}

/*---------------- Header -------------------------*/
header{ 
  margin-top: calc(4.1rem + 7.2rem);

  /*background-color: var(--cor2);*/
}

header h1{
  color: var(--cor5);

  font-size: 3.4rem;  
  line-height: 130%;

  margin-bottom: 2.4rem;
}

header h4{
  font-size: 1.4rem;
  color: #592B02;

  margin-bottom: 1.6rem;
}

header p{
  font-size: 1.8rem;
  line-height: 150%;

  margin: 0 auto 3.2rem 0;
}

header button{
  background-color: var(--cor2);

  border: none;
  border-radius: 2rem;

  height: 6.2rem;
  width: 26.3rem;

  color: white;  
  font-size: 1.4rem;
  font-weight: 700;
  text-transform: uppercase;

  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1.6rem; /*espaço entre os elementos*/

  margin: 0 auto 6rem auto;
}

button:hover{
  opacity: 70%;
}

header::before{
  content: ""; /*conteudo vazio*/

  width: 100vw;
  height: 112.2rem;
  background-color: var(--cor6);
  display: block;

  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

#casa{
  width: 95%;
  height: auto;
  margin: 0 auto 6rem auto;
}

/* ------------------------ Stats -------------------- */
.stats{
  background-color: var(--cor3);
  border: 2px solid var(--cor4);
  border-radius: 0.6rem;

  width: 32.7rem;

  padding-block: 4rem;

  margin-inline: auto; /*marge em linha direita e esquerda*/

  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 6rem; /*separação entre os elementos*/
}

.stat h3 {
  font-size: 4.8rem;
  color: var(--cor5);
  line-height: 130%;

  margin-bottom: 0.4rem;
}

.stat p{
  margin: 0;
  
  color: var(--cor2);
}

/* ================== Navigation ===================== */

nav{
  display: flex;

  height: 7.2rem;

  /* padding: 1.6rem 2.4rem; */

  position: fixed;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
}

nav .wrapper{
  display: flex;
  align-items: center;
  justify-content: space-between;

  background-color: var(--cor2);
  height: 7.2rem;
  width: 100vw;
}

nav h1{
  color: white;
}

nav .logotipo{
  color: var(--cor3);
}

nav a{
  text-decoration: none;
  color: white;
}

nav.scroll{
  background-color: var(--cor4);
}